body{
    font-family: Arial, Helvetica, sans-serif;
}
/* classi generali */
/* colore */
.black{
    background-color: black;
}

#blue{
    background-color: #2586D5;
    color: white;
}
/* testo */
.title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text{
    font-size: 21px;
    color: #727272;
    font-weight: 600;
}


/* stile header */
/* parte superiore con logo */
/* logo sony */
.box_image{
    max-width: 100%;
    padding: 10px;
}

.box_image #logo_header{
    width: 100%;
    height: 20px;
}

/* navbar */
#navbarDropdown {
    color: black;
    font-weight: 700;
}

/* hero stile */
#hero .container-fluid{
   padding-left: 0;
   padding-right: 0;
}

.box_image_jumbo{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    min-height: 600px;
    background-position-x: -600px;
    display: flex;
    align-items: end;
   
}
/* media queries */
/* sm */
@media  (min-width: 576px) { 
    .box_image_jumbo{
      
        background-position-x: -400px;
    
    }
 }
/* md */
 @media (min-width: 768px) { 
    .box_image_jumbo{
      
        background-position-x: -200px;
    
    }
  }

  @media (min-width: 992px) {
    .box_image_jumbo{
      
        background-position-x: 0;
    
    }
}

/*  */

.box_image_banner{
    width: 50%;
}

.box_image_banner #banner{
    width: 100%;
}

.box_text{
    min-height: 300px;
    margin-left: 10px;
}

.box_text h2{
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0;
}

.box_text p{
    max-width: 600px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    
    
}

.box_text a{
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    background-color: #CD3D0F;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 0 20px;
    font-weight: 700;
}

/* stile card game */
#new_game{
  margin-top: 50px;
}

.box_img{
    max-width: 100%;
    margin-bottom: 10px;
}

.box_img img{
    width: 100%;
    border-radius: 20px;
}

/* stile new console */
#new_console{
    margin-top: 50px;
}

#new_console span{
    color: #2586D5;
    font-weight: 600;
}

/* console */
#console{
    margin-top: 50px;
}