body{
    font-family: Arial, Helvetica, sans-serif;
}
/* classi generali */
/* colore */
.black{
    background-color: black;
}

/* stile header */
/* parte superiore con logo */
/* logo sony */
.box_image{
    max-width: 100%;
    padding: 10px;
}

.box_image img{
    width: 100%;
}