body{
    font-family: Arial, Helvetica, sans-serif;
}
/* classi generali */
/* colore */
.black{
    background-color: black;
}

#blue{
    background-color: #2586D5;
    color: white;
}
/* testo */
.title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text{
    font-size: 21px;
    color: #727272;
    font-weight: 600;
}


/* stile header */
/* parte superiore con logo */
/* logo sony */
.box_image{
    max-width: 100%;
    padding: 10px;
}

.box_image #logo_header{
    width: 100%;
    height: 20px;
}

/* navbar */
#navbarDropdown {
    color: black;
    font-weight: 700;
}

/* hero stile */
#hero .container-fluid{
   padding-left: 0;
   padding-right: 0;
}
#hero .row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.box_image_hero{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    min-height: 600px;
    background-position: center;
    display: flex;
    align-items: end;
   
}

.box_image_banner{
    width: 50%;
}

.box_image_banner #banner{
    width: 100%;
}

.box_text{
    min-height: 300px;
    margin-left: 10px;
}

.box_text h2{
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0;
}

.box_text p{
    max-width: 600px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    
    
}

.box_text a{
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    background-color: #CD3D0F;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 0 20px;
    font-weight: 700;
}

/* stile card game */
#new_game{
  margin-top: 50px;
}

.box_img{
    max-width: 100%;
    margin-bottom: 10px;
}

.box_img img{
    width: 100%;
    border-radius: 20px;
}

/* stile new console */
#new_console{
    margin-top: 50px;
}

#new_console span{
    color: #2586D5;
    font-weight: 600;
}

/* console */
#console{
    margin-top: 50px;
}

#console a{
    max-width: 200px;
    border-radius: 30px;
    font-weight: 600;
}

#console span{
    display: none;
}


/* media query */

@media (min-width: 768px) { 
    #console .row{
      justify-content: space-between;
      
    
    }
    #console span{
        display: block;
        font-weight: 600;

    }


  }

  /* jumbo stile */
 

 #jumbo .container-fluid{
    padding-left: 0;
    padding-right: 0;
 }
 
 #jumbo .row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
 

 .box_image_jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    min-height: 600px;
    background-position: center;
    display: flex;
    align-items: center;
    
   
}

.box_image_banner_jumbo{
    max-width: 300px;
}

.box_image_banner_jumbo img{
    width: 100%;
}

/* stile new entry */
#new_entry{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1F1F1F;
}


/* explore */
#explore{
    margin-top: 80px;
}

/* PLAY.PLUS */
#play_plus{
    background-color: #BEBCBB;

}

#play_plus a{
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    background-color:#D9DADC;
    color:#4776E5;
    text-decoration: none;
    border-radius: 30px;
    padding: 0 20px;
    font-weight: 700;
}

#col_ghost{
    display: none;
}

@media (min-width: 768px) { 
    #play_plus #col_ghost{
      display: block;
      
    
    }
  

  }